{% extends 'layout.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="justify-content-center my-2">
            <!-- <button class="btn btn-primary">Edit Country</button> -->
            <a class="btn btn-primary" href="{{url_for('company_edit', id=company.id)}}">Edit Company</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete Company
            </button>
        </div>
    </div>
    <div class="row">
        <img src="{{url_for('static', file='uploads/'+company.company_logo)}}" style="width: 20%;" alt="">
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 justify-content-end">
            <div class="justify-content-end nav">
                <a href="{{url_for('companies')}}" class="px-3 py-3">Botswana Golden 100</a>
                <a href="{{url_for('countries')}}" class="px-3 py-3">Countries</a>
            </div>
        </div>
        
    </div>
    <div class="row py-3">
        <div class="col-5">
            <p class="fw-bold fs-4 text-warning">Company:</p>
            <p class="fw-boler fs-4">{{company.company_name}}</p>
        </div>
        <div class="col-5">
            <p class="fw-bold fs-4 text-warning">Industry:</p>
            {% for industry in industries %}
                <span class="fw-boler fs-5"> {{industry.industry_name}} </span>,
            {% endfor %}
        </div>
        <div class="col-2">
            <p class="fw-bold fs-4 text-warning">Type:</p>
            <p class="fw-boler fs-4">{{company.company_type}}</p>
        </div>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Introduction</p>
        <p>{{company.company_intro}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Vision</p>
        <p>{{company.company_vision}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Mission</p>
        <p>{{company.company_mission}}</p>
    </div>
    <div class="row">
        <div class="row">
            <p class="text-primary fw-bold fs-4">Top Executives</p>
        </div>     
        <div class="row row-cols-3">
            {% for executive in executives %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', file='uploads/'+executive.photo) }}" class="card-img-top" width="286" height="400">
                    <div class="card-body">
                        <p class="card-text">
                            <span class="fw-bold fs-4 text-warning">{{executive.name}}</span><br>
                            <span class="text-warning">{{executive.title1}}</span><br>
                            <span class="text-warning">{{executive.title2}}</span><br>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <p class="text-primary fw-bold fs-4">Company Description</p>
        <p>{{company.company_desc}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Products</p>
        <ul>
            <li>{{company.company_product1}}</li>
            <li>{{company.company_product2}}</li>
            <li>{{company.company_product3}}</li>
        </ul>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Services</p>
        <ul>
            <li>{{company.company_service1}}</li>
            <li>{{company.company_service2}}</li>
            <li>{{company.company_service3}}</li>
        </ul>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Employees</p>
        <p>{{company.company_employees}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Market</p>
        <p>{{company.company_market}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Contact Person:</p>
        <p>Mosetlho Kenamile</p>
        <p>General Manager - Operations</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Postal Address:</p>
        <p>{{company.company_postal_address}}</p>
    </div>
    <div class="row">
        <p class="text-primary fw-bold fs-4">Physical Address:</p>
        <p>{{company.company_physical_street}},</p>
        <p>{{company.company_physical_district}}</p>
        <p>{{company.company_physical_city}}</p>
        <p>{{company.company_physical_country}}</p>
    </div>
    
    <div class="row">
        <div class="col-3"><span class="text-primary fw-bold">Tel: </span></div>
        <div class="col-9">{{company.company_tel}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="text-primary fw-bold">Fax: </span></div>
        <div class="col-9">{{company.company_fax}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="text-primary fw-bold">E-mail: </span></div>
        <div class="col-9">{{company.company_email}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="text-primary fw-bold">Web: </span></div>
        <div class="col-9">{{company.company_web}}</div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Would you delete this company?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a class="btn btn-danger" href="{{url_for('company_delete', id=company.id)}}">Delete</a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}