{% extends 'layout.html' %}
{% block body %}

<div class="container">
    {% if usersession and usersession.usertype == 1 %}
    <div class="row">
        <div class="justify-content-center my-2">
            <!-- <button class="btn btn-primary">Edit Country</button> -->
            <a class="btn btn-primary" href="{{url_for('country_edit', id=country.id)}}">Edit Country</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete Country
            </button>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 justify-content-end">
            <div class="justify-content-end nav">
                {% if country.country_name == 'Botswana' %}
                <a href="{{url_for('companies')}}" class="px-3 py-3">Botswana Golden 100</a>
                {% endif %}
                <a href="{{url_for('countries')}}" class="px-3 py-3">Countries</a>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-4">
            <h3 style="color: rgba(54, 100, 228, 0.9);">{{country.country_name}}</h3>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <h3 style="color: rgba(54, 100, 228, 0.9);">{{country.region}}</h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div style="color: rgba(54, 100, 228, 0.9);" class="col-6">Timezone</div>
                        <div style="color: rgba(54, 100, 228, 0.9);" class="col-6">{{country.timezone}}</div>
                    </div>
                    <div class="row">
                        <div style="color: rgba(54, 100, 228, 0.9);" class="col-6">Dialing Code</div>
                        <div style="color: rgba(54, 100, 228, 0.9);" class="col-6">{{country.area_number}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Business Capital: </span></div>
        <div class="col-9">{{country.business_capital}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Administrative Capital: </span></div>
        <div class="col-9">{{country.administrative_capital}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Official Language (s): </span></div>
        <div class="col-9">{{country.official_language1}}, {{country.official_language2}} </div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Total Area: </span></div>
        <div class="col-9">{{country.total_area}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Population: </span></div>
        <div class="col-9">{{country.population}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Currency: </span></div>
        <div class="col-9">{{country.currency}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">GDP: </span></div>
        <div class="col-9">{{country.gdp}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">GDP Per Capita: </span></div>
        <div class="col-9">{{country.gdp_per_capital}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Key Industries: </span></div>
        <div class="col-9">
            {% for industry in industries %}
            {{industry.industry_name}},
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Exports: </span></div>
        <div class="col-9">{{country.exports}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Main Export Partners: </span></div>
        <div class="col-9">{{country.main_export_partners}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Imports: </span></div>
        <div class="col-9">{{country.imports}}</div>
    </div>
    <div class="row">
        <div class="col-3"><span class="fw-bold">Import Partners: </span></div>
        <div class="col-9">{{country.import_partners}}</div>
    </div>
    <hr class="my-3">
    <div class="row">
        <div class="col-12"><span class="fw-bold">Economic Brief</span></div>
    </div>
    <div class="row">
        <p>{{country.economic_brief}}</p>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Would you delete this country?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a class="btn btn-danger" href="{{url_for('country_delete', id=country.id)}}">Delete</a>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}