{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Latest -->
        <div class="col-2">
            <hr>
            <h3>LATEST NEWS</h3>
            <hr>
            {% for news in latest_news %}
            <div>
                <p>{{news.news_category.upper()}}</p>
                <p class="fw-bold">
                    <a href="{{url_for('news_detail', id=news.id)}}" style="text-decoration: none; color: black;">
                        {{news.news_title}}
                    </a>
                </p>
            </div>
            <hr>
            {% endfor %}
            
        </div>
        <!-- Content -->
        <div class="col-8">
            <div class="row my-3">
                <div class="col-6">
                    <img src="{{ url_for('static', file='img/sample1.jpg') }}" class="img-thumbnail" alt="">
                </div>
                <div class="col-6">
                    <div>
                        <p>Prognosis</p>
                        <p class="fw-bold fs-5">South Africa Set to Use J&J Shots After Resolving Contract Spat</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Ramadan Spike Conccern Climbs; Canada Halts Flights: Virus Update</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Global Virus Resurgence Threatens Vigorous Growth Momentum</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Coronavirus Surge Spills Over into World’s Financial Markets</p>
                    </div>
                    <hr>

                </div>
            </div>
            
        </div>
        <!-- Most Read -->
        
    </div>
</div>
{% endblock %}