{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Latest -->
        <div class="col-2">
            <hr>
            <h3>LATEST NEWS</h3>
            <hr>
            {% for news in latest_news %}
            <div>
                <p>{{news.news_category.upper()}}</p>
                <p class="fw-bold">
                    <a class="news_title" href="{{url_for('news_detail', id=news.id)}}" style="text-decoration: none; color: black;">
                        {{news.news_title}}
                    </a>
                </p>
            </div>
            <hr>
            {% endfor %}
            
        </div>
        <!-- Content -->
        <div class="col-8">
            <div class="row my-3">
                <div class="col-6">
                    <img src="{{ url_for('static', file='img/sample1.jpg') }}" class="img-thumbnail" alt="">
                </div>
                <div class="col-6">
                    <div>
                        <p>Prognosis</p>
                        <p class="fw-bold fs-5">South Africa Set to Use J&J Shots After Resolving Contract Spat</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Ramadan Spike Conccern Climbs; Canada Halts Flights: Virus Update</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Global Virus Resurgence Threatens Vigorous Growth Momentum</p>
                    </div>
                    <hr>
                    <div>
                        <p class="fs-6">Coronavirus Surge Spills Over into World’s Financial Markets</p>
                    </div>
                    <hr>

                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div>
                        {% if business_news %}
                        <p>{{business_news.news_category.upper()}}</p>
                        <p class="fw-bold">
                            <a class="news_title" href="{{url_for('news_detail', id=business_news.id)}}" style="text-decoration: none; color: black;">
                                {{business_news.news_title}}
                            </a>
                        </p>
                        {% endif %}
                        <!-- <p>Get up to speed with what’s moving global markets today.</p> -->
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        {% if markets_news %}
                        <p>{{markets_news.news_category.upper()}}</p>
                        <p class="fw-bold">
                            <a class="news_title" href="{{url_for('news_detail', id=markets_news.id)}}" style="text-decoration: none; color: black;">
                                {{markets_news.news_title}}
                            </a>
                        </p>
                        {% endif %}
                        <!-- <p>Refinery has suffered losses for much of the last decade.</p> -->
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        {% if politics_news %}
                        <p>{{politics_news.news_category.upper()}}</p>
                        <p class="fw-bold">
                            <a class="news_title" href="{{url_for('news_detail', id=politics_news.id)}}" style="text-decoration: none; color: black;">
                                {{politics_news.news_title}}
                            </a>
                        </p>
                        {% endif %}
                        <!-- <p>Libya now pumping less than 1 million barrels amid cash crunch.</p> -->
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        {% if technology_news %}
                        <p>{{technology_news.news_category.upper()}}</p>
                        <p class="fw-bold">
                            <a class="news_title" href="{{url_for('news_detail', id=technology_news.id)}}" style="text-decoration: none; color: black;">
                                {{technology_news.news_title}}
                            </a>
                        </p>
                        {% endif %}
                        <!-- <p>Steinhoff came close to collapse in 2017 in accounting scandal.</p>  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Most Read -->
        <div class="col-2">
            <hr>
            <h3>MOST READ</h3>
            <hr>
            <div>
                {% if business_news %}
                <p> <span class="fw-bold fs-5">1</span>  {{business_news.news_category.upper()}}</p>
                <p class="fw-bold">
                    <a class="news_title" href="{{url_for('news_detail', id=business_news.id)}}" style="text-decoration: none; color: black;">
                        {{business_news.news_title}}
                    </a>
                </p>
                {% endif %}
            </div>
            <hr>
            <div>
                {% if politics_news %}
                <p> <span class="fw-bold fs-5">2</span>  {{politics_news.news_category.upper()}}</p>
                <p class="fw-bold">
                    <a class="news_title" href="{{url_for('news_detail', id=politics_news.id)}}" style="text-decoration: none; color: black;">
                        {{politics_news.news_title}}
                    </a>
                </p>
                {% endif %}
            </div>
            <hr>
            <div>
                {% if technology_news %}
                <p> <span class="fw-bold fs-5">3</span> {{technology_news.news_category.upper()}}</p>
                <p class="fw-bold">
                    <a class="news_title" href="{{url_for('news_detail', id=technology_news.id)}}" style="text-decoration: none; color: black;">
                        {{technology_news.news_title}}
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}