{% extends 'layout.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="profile-img" src="">
        </div>
        <div class="col-9">
            <p class="text-primary fw-bold fs-4">First Name:</p>
            <p>{{userdata.first_name}}</p>
            <p class="text-primary fw-bold fs-4">Last Name:</p>
            <p>{{userdata.last_name}}</p>
            <p class="text-primary fw-bold fs-4">E-mail:</p>
            <E-mail>{{userdata.email}}</E-mail>
            <p class="text-primary fw-bold fs-4">First Name:</p>
            <p>{{userdata.first_name}}</p>
            <p class="text-primary fw-bold fs-4">First Name:</p>
            <p>{{userdata.first_name}}</p>
        </div>
    </div>
</div>

{% endblock %}