{% extends 'layout.html' %}
{% block body %}
<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="text-primary fw-bold section-title">Contact BlueBiz Africa</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <p>BlueBiz Africa Corporate Contact Information</p>
              <p>BlueBiz Group</p>
              <p>Gaborone West, Gaborone</p>
              <p>Botswana</p>
              <p>Southern Africa</p>
              <div class="find-widget">
                Phone:  <a href="#">(+267) 72 957 974</a>
              </div>
              <div class="find-widget">
                WhatsApp:  <a href="#">(+267) 72 957 974</a>
              </div>
              <div class="find-widget">
                E-mail:  <a href="#">info@bluebizafrica.com</a>
              </div>
              <div class="find-widget">
                Facebook:  <a href="https://hostriver.ro">BlueBizAfrica</a>
              </div>
              <div class="find-widget">
                Instagram: <a href="#">BlueBizAfrica</a>
              </div>
              <div class="find-widget">
                Twitter: <a href="#">BlueBizAfrica</a>
              </div>
              <div class="find-widget">
                Web: <a href="#">www.bluebizafrica.com</a>
              </div>
              <div class="find-widget">
                Copyright © BlueBiz Group 2021
              </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Full Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                      <label class="control-label">Subject</label>
                      <select class="form-select" id="msg_subject" name="subject" required>
                        <option value="Partnerships">Partnerships</option>
                        <option value="Supplier">Supplier</option>
                        <option value="Vendor">Vendor</option>
                        <option value="Advertising">Advertising</option>
                        <option value="Developer">Developer</option>
                        <option value="General">General</option>
                        <option value="Other">Other</option>
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Talk to us</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-primary" type="submit" id="form-submit">
                            Send Message</button>
                        <button class="btn btn-primary" type="submit" id="form-submit">
                            Cancel</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
  {% endblock %}