{% extends 'layout.html' %}
{% block body %}
<style>
    <!--
    /* Font Definitions */
    @font-face {
        font-family: "Cambria Math";
        panose-1: 2 4 5 3 5 4 6 3 2 4;
    }

    @font-face {
        font-family: Calibri;
        panose-1: 2 15 5 2 2 2 4 3 2 4;
    }

    /* Style Definitions */
    p.MsoNormal,
    li.MsoNormal,
    div.MsoNormal {
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10.0pt;
        margin-left: 0in;
        line-height: 115%;
        font-size: 11.0pt;
        font-family: "Calibri", "sans-serif";
    }

    p.MsoNoSpacing,
    li.MsoNoSpacing,
    div.MsoNoSpacing {
        margin: 0in;
        margin-bottom: .0001pt;
        font-size: 11.0pt;
        font-family: "Calibri", "sans-serif";
    }

    .MsoChpDefault {
        font-family: "Calibri", "sans-serif";
    }

    .MsoPapDefault {
        margin-bottom: 8.0pt;
        line-height: 107%;
    }

    @page WordSection1 {
        size: 595.3pt 841.9pt;
        margin: 1.0in 1.0in 1.0in 1.0in;
    }

    div.WordSection1 {
        page: WordSection1;
    }
    -->
</style>

<div class=WordSection1>

    <p class=MsoNormal style='line-height:normal'><b><span lang=EN-GB style='font-size:24.0pt'>Trademarks</span></b></p>

    <p class=MsoNoSpacing><span style='font-size:12.0pt;background:white'>All
            product names,&nbsp;logos,&nbsp;brands,&nbsp;trademarks and registered
            trademarks are property of their respective
            owners.&nbsp;All&nbsp;company,&nbsp;product&nbsp;and service&nbsp;names used&nbsp;on&nbsp;this&nbsp;website
            are for identification purposes only.&nbsp;Use of these names,&nbsp;trademarks
            and brands does not imply endorsement.</span></p>

</div>
{% endblock %}