@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 300
}
button a {
    color: #ffffff;
    text-decoration: none;
}
.search {
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1) */
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    background-color: #cdefcd;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    color: white;
}

.search button {
    position: absolute;
    top: 1px;
    right: 0px;
    height: 59px;
    width: 60px;
    background: #0073bb
}

#navbarResponsive ul li a {
    color: black;
    font-size: medium;
}

#navbarResponsive ul li a:hover {
    color: orange;
    font-weight: bold;
}

.dropdown .dropdown-toggle::after {
    display: none !important;
}

.dropdown-hover-all .dropdown-menu, .dropdown-hover > .dropdown-menu.dropend { 
    margin-left:-1px !important
}

.separater_menu {
    font-weight: bold;
    font-size: medium;
    color: orange;
    padding-right: 20px;
}

.main-menubar .nav .nav-item {
    border: 1px solid #eee;
    background-color: #eee;
    font-size: 20px;
    font-family:'Calibri';
    font-weight: bold;
}

.main-menubar .nav .nav-item:hover, .main-menubar .nav .nav-item.active {
    background-color: #f5bd02;
}

.main-menubar .nav .covid-item:hover, .main-menubar .nav .covid-item.active {
    background-color: orange !important;
}

.main-menubar .nav .nav-item a {
    color:rgb(144, 150, 149) !important;
}

.covid-item {
    background-color: red !important;
}

.covid-item a {
    color: #fff !important;
}

.country-name {
    background-color: #c6dcea
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* tab */
#mytab .nav-item {
    margin-right: 1ex;
}
#mytab .nav-link.active {
    background-color: #2f79a7 !important;
    color: #ffffff !important;
}
#mytab .nav-link {
    background-color: #b4d3ef !important;
    color: #278dbd !important;
}

/* profile */
img.prfile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* image upload preview */
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    /* box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2); */
}
/* .btn-primary {
    display:block;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top:-5px;
} */
.imgUp {
    margin-bottom:15px;
}
.del {
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
.imgAdd {
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#4bd7ef;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
    padding-left: 8px;
}

b, strong {
    font-weight: bold !important;
}

/* social icons */

.social-icon {
    padding: 5px;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.box {
    height: 4.5em;
    overflow: hidden;
}

.box--fixed {
    width: auto;
}
/* news  */
/* a.news_title {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
 */
a.news_title:hover{    
    /* color: rgb(92, 92, 194) !important; */
    text-decoration: underline !important;
}

/* footer */

.footer a {
    text-decoration: none;
    font-size: smaller !important;
}