{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="mx-auto justify-content-center my-2">
            <a class="btn btn-success" href="{{url_for('news_add')}}">+ ADD NEWS</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">TYPE</th>
                <th scope="col">Author</th>
                <th scope="col">Publish Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for news in allnews %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{news.news_title}}</td>
                    <td>{{news.news_category}}</td>
                    <td>{{news.news_reporter}}</td>
                    <td>{{news.news_created}}</td>
                    <td>
                        <a href=" {{url_for('news_detail', id=news.id)}} " class=""><i class="far fa-eye"></i></a>
                        <a href=" {{url_for('news_edit', id=news.id)}} " class=""><i class="fas fa-edit"></i></a>
                        <a href="#deleteModal" data-id="{{news.id}}" data-bs-toggle="modal" class="deleteNewsBtn"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Would you delete this news?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" id="del_btn" href="#">Delete</a>
            </div>
        </div>
        </div>
    </div>
    <script>
        $(document).on("click", ".deleteNewsBtn", function () {
            var newsId = $(this).data('id');
            $(".modal-footer #del_btn").attr("href", "/news/delete/"+newsId);
            // As pointed out in comments, 
            // it is unnecessary to have to manually call the modal.
            // $('#addBookDialog').modal('show');
        });
    </script>
</div>
{% endblock %}